
@tailwind base;
@tailwind components;
@tailwind utilities;

p{
    font-family: 'DM Sans', sans-serif;
}

span{
    font-family: 'DM Sans', sans-serif;
}

::-webkit-scrollbar {
    background-color: white;
    border-radius: 13px;
    width: 20px;
    border: 7px solid white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, #2C9AEA, #39BBA8);
    border-radius: 13px;
    border-right: 7px solid white;
    border-left: 7px solid white;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    transition: 600ms;
    background-image: linear-gradient(to bottom right, #2C9AEA, #39BBA8);
  
  }